html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;

  color: #fff;
  background-color: #849d8f;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-wrapper {
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease,
              background-color 0.5s ease;
}

.page-wrapper::before,
.page-wrapper::after {
  content: "";

  visibility: hidden;
}

.page-wrapper::before {
  background-image: url("../img/background-slider02.png");
}

.page-wrapper::after {
  background-image: url("../img/background-slider03.png");
}

.content-wrapper {
  min-width: 860px;
  max-width: 1148px;
  margin: 0 auto;
  padding: 0 26px;
}

.top-header {

}

.logo {
  float: left;
  width: 154px;
  margin-right: 15px;
  padding-top: 10px;

  -webkit-transform: translate(-5px);
      -ms-transform: translate(-5px);
          transform: translate(-5px);
}

.logo img {
  width: 154px;
  height: 65px;
}

.menu {
  float: left;
  width: 400px;
}

.menu__list {
  margin: 0;
  padding: 0;
  padding-top: 20px;

  font-size: 0;
}

.menu__item {
  display: inline-block;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.menu__item--dropdown {
  position: relative;
}

.menu__item--dropdown:hover .dropdown-menu {
  display: block;
}

.menu__link {
  display: block;
  padding: 5px 14px;

  color: #ffffff;
  border-radius: 20px;
}

.menu__link--current {
  text-decoration: none;

  color: #ffffff;
  background-color: #d07058;
}

.menu__link:hover {
  text-decoration: none;

  color: #333333;
  background-color: #f7f6f3;
}

.menu__link:active {
  text-decoration: none;

  color: #333333;
  background-color: #ededed;

  box-shadow: 0 2px 1px 0 #696969 inset;
}

.dropdown-menu {
  position: absolute;
  top: 37px;
  left: -7px;
  z-index:15;

  display: none;
  width: 145px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  overflow: hidden;
  list-style: none;
}

.dropdown-menu__item {

}

.dropdown-menu__item:first-child {
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
}

.dropdown-menu__item:hover:first-child {
  border-radius: 5px 5px 0 0;
}

.dropdown-menu__link {
  display: block;
  padding: 7px 0 7px 20px;

  text-decoration: none;
  color: #343434;
}

.dropdown-menu__link--current {
  color: #ffffff;
  background-color: #d07058;
}

.dropdown-menu__link:hover {
  background: #fbded7;
}

.dropdown-menu__link:active {
  background: #f6b5a5;
}

.user-block {
  float: right;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 18px;
}

.user-block__search {
  position: relative;

  float: left;
  width: 32px;
  margin-right: 10px;
}

.user-block__login {
  float: left;
  max-width: 100px;
  margin-right: 10px;
}

.user-block__cart {
  float: right;
  width: 118px;
}

.user-block__btn {
  position: relative;

  display: block;

  font-size: 14px;
  line-height: 18px;
  text-decoration: none;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
}

.user-block__btn:hover {
  color: #373737;
  background-color: #f8f7f4;
}

.user-block__btn:hover + .user-block__popup {
  display: block;
}

.user-block__btn::before {
  content: "";
  position: absolute;

  background: transparent url("../img/sprite.png") no-repeat;
}

.user-block__popup  {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;

  display: none;
  padding-top: 5px;
}

.user-block__popup--search {
  padding: 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  box-sizing: border-box;
}

.user-block__search-form {
  width: 218px;
  padding: 10px 11px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  box-sizing: border-box;
}

.user-block__btn--search {
  width: 32px;
  height: 32px;

  font-size: 0;

  border-radius: 50%;
}

.user-block__btn--search::before {
  top: 7px;
  left: 8px;

  width: 17px;
  height: 17px;

  background-position: -10px -654px;
}

.user-block__btn--search:hover::before {
  background-position: -10px -691px;
}

.user-block__btn--login {
  padding: 7px;
  padding-left: 44px;
  padding-right: 16px;

  border-radius: 20px;
}

.user-block__btn--login::before {
  top: 7px;
  left: 15px;

  width: 21px;
  height: 19px;

  background-position: -10px -520px;
}

.user-block__btn--login:hover::before {
  background-position: -10px -559px;
}

.user-block__btn--cart {
  padding: 7px;
  padding-left: 44px;
  padding-right: 16px;

  text-align: left;

  border-radius: 20px;
}

.user-block__btn--cart::before {
  top: 7px;
  left: 15px;

  width: 21px;
  height: 20px;

  background-position: -10px -10px;
}

.user-block__btn--cart:hover::before {
  background-position: -10px -50px;
}

.page-header__contacts {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
}

.page-header__contacts span {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.toggle {
  display: none;
}

.slider {
  position: relative;

  padding-top: 270px;
  margin-bottom: 40px;

  text-align: center;
  color: #ffffff;
}

.slider__item {
  display: none;
}

.slider__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 60px;
  line-height: 62px;

}

.slider__btn:hover {
  background-image:    -moz-linear-gradient(90deg, #f58669 0%, #ec6f5e 100%);
  background-image: -webkit-linear-gradient(90deg, #f58669 0%, #ec6f5e 100%);
  background-image:         linear-gradient(90deg, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slider__btn:active {
  background-image:    -moz-linear-gradient(90deg, #d84732 0%, #e1613e 100%);
  background-image: -webkit-linear-gradient(90deg, #d84732 0%, #e1613e 100%);
  background-image:         linear-gradient(90deg, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider__controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider__controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls:checked {
  background-color: #ffffff;
}

#btn-1:checked ~ .page-wrapper .slider__item--1,
#btn-2:checked ~ .page-wrapper .slider__item--2,
#btn-3:checked ~ .page-wrapper .slider__item--3 {
  display: block;
}

#btn-1:checked ~ .page-wrapper label[for="btn-1"],
#btn-2:checked ~ .page-wrapper label[for="btn-2"],
#btn-3:checked ~ .page-wrapper label[for="btn-3"] {
  background: #ffffff;
}

#btn-1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background-slider01.png");
}

#btn-2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/background-slider02.png");
}

#btn-3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background-slider03.png");
}

.toppings-block {
  margin-bottom: 40px;
}

.toppings {
  width: 48.9%;
  min-height: 230px;
  padding: 20px;
  padding-bottom: 23px;

  background: #ae1d40;
  border-radius: 13px;

  box-sizing: border-box;
}

.toppings--left {
  float: left;
  background: #ae1d40 url("../img/background-raspberry.jpg") center no-repeat;
  background-size: cover;
}

.toppings--right {
  float: right;
  background: #3a1d13 url("../img/background-chocolate.jpg") center no-repeat;
  background-size: cover;
}

.toppings__title {
  margin: 0;
  margin-bottom: 17px;

  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.toppings__text {
  margin: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.btn {
  padding: 8px 24px;

  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  color: #ffffff;
  background: #f26843;
  background-image:    -moz-linear-gradient(to top, #e54c38, #f37250);
  background-image: -webkit-linear-gradient(to top, #e54c38, #f37250);
  background-image:         linear-gradient(to top, #e54c38, #f37250);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 100px;
}

.btn:hover {
  background-image:    -moz-linear-gradient(90deg, #f58669 0%, #ec6f5e 100%);
  background-image: -webkit-linear-gradient(90deg, #f58669 0%, #ec6f5e 100%);
  background-image:         linear-gradient(90deg, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background-image:    -moz-linear-gradient(90deg, #d84732 0%, #e1613e 100%);
  background-image: -webkit-linear-gradient(90deg, #d84732 0%, #e1613e 100%);
  background-image:         linear-gradient(90deg, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn--slider {
  display: inline-block;
  padding: 12px 50px;

  font-size: 31px;
  line-height: 41px;

  background: #f26843;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn--toppings {
  float: right;

  margin-top: 30px;
  padding: 12px 23px;

  font-size: 18px;
  line-height: 21px;
}

.btn--catalog {
  display: none;
  max-width: 150px;
  margin: 20px auto;

  text-align: center;
}

.btn--form {
  float: right;

  padding: 12px 22px;

  font-size: 17px;
  line-height: 21px;
}

.toppings .btn {
  float: right;

}

.catalog {
  margin: 0 -13px;
  font-size: 0;
}

.catalog-item {
  position: relative;

  display: inline-block;
  width: 25%;
  padding: 13px;

  font-size: 16px;
  line-height: 22px;
  vertical-align: top;

  border-radius: 5px;
  box-sizing: border-box;
}

.catalog-item:hover {
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
}

.catalog-item:hover .btn--catalog {
  display: block;
  z-index: 9;
}

.catalog-item__link {
  position: relative;

  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(230, 230, 255, 0.4);


}

.catalog-item__image {
  z-index: 6;

  margin: 0;
  padding: 0;
}

.catalog-item__image img {
  position: relative;

  width: 100%;
  height: auto;

  border-radius: 50%;
}

.icon-hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index:20;

  width: 61px;
  height: 61px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -439px;
}

.icon-ruble::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 80px;
  z-index:20;

  width: 31px;
  height: 36px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -10px -598px;
}

.catalog-item__price {
  position: absolute;
  top: 60%;
  left: 0;

  width: 160px;
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 45px;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);

  color: #ffffff;

  box-sizing: border-box;
}

.catalog-item__price span {
  padding-left: 22px;

  font-size: 30px;
}

.catalog-item__title {
  margin: 0;
  padding: 0 5px;
  padding-top: 10px;

  text-align: center;
  color: #ffffff;

}

.catalog-item__title span {
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.catalog-item:hover .catalog-item__title span {
  border: none;
}

.catalog-item__btn--hover {
  display: none;
}

.features {
  z-index: 55;

  margin-bottom: 40px;
  padding: 25px 20px;
  padding-bottom: 17px;

  font-size: 0;

  color: #323232;
  background: url("../img/background-pattern-waffle.jpg");
  border-radius: 13px;
}

.features__title {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features__item {
  position: relative;

  display: inline-block;
  width: 50%;
  margin: 0;
  padding-right: 13px;

  font-size: 16px;
  line-height: 22px;
  vertical-align: top;

  box-sizing: border-box;
}

.features__item:nth-of-type(2n) {
  padding-left: 13px;
  padding-right: 0;
}

.features__text {
  margin: 10px 0;
  padding-left: 58px;
}

.features__text::before {
  content: "";
  position: absolute;

  background: transparent url("../img/sprite.png") no-repeat;
}

.features__text--icecream::before {
  top: 0;
  left: 0;

  width: 49px;
  height: 49px;
  background-position: -10px -199px;
}

.features__text--leave::before {
  top: 0;
  left: 0;

  width: 49px;
  height: 49px;
  background-position: -10px -268px;
}

.features__text--cow::before {
  top: 0;
  left: 13px;

  width: 48px;
  height: 49px;
  background-position: -10px -130px;
}

.features__text--thermo::before {
  top: 0;
  left: 13px;

  width: 48px;
  height: 49px;
  background-position: -10px -337px;
}

.news-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  color: #000;

}

.news {
  width: 48.9%;
  min-height: 220px;

  background: white;
  border-radius: 13px;

  box-sizing: border-box;
}

.news--left {
  float: left;
  padding: 20px;

  background: #ffffff url("../img/background-strawberry.jpg") no-repeat right;
  background-size: cover;
}

.news--right {
  position: relative;

  float: right;
  padding: 6px;

  background: #ffffff url("../img/background-pattern-post.png") repeat 0 0;
}

.news__frame {
  min-height: 208px;
  padding: 20px;
  padding-top: 27px;
  padding-bottom: 35px;

  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}

.news__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #5a5a5a;
}

.news__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;

  color: #353535;
}

.news__form {
  margin-right: 142px;
}

.news__text {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.news__form input[type="email"] {
  float: left;

  display: block;
  width: 100%;

  margin: 1px;
  padding: 12px 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;

  box-sizing: border-box;
  outline: none;
}


.contacts {
  position: relative;
}

.contacts__map {
  width: 100%;
  min-height: 430px;
  background-color: #000000;
}

.contacts__info {
  position: absolute;
  top: 50%;
  right: 23px;

  width: 300px;
  padding: 30px 25px;

  text-align: left;
  color: #000000;
  background-color: #fff;
  border-radius: 13px;

  box-sizing: border-box;
  transform: translate(0, -50%);
}

.contacts__address {
  margin: 0;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts__address span {
  display: block;
  margin-top: 4px;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone {
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts__phone span {
  display: block;
  margin-top: 2px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.btn--contacts {
  width: 100%;
  /*margin: 0 auto;*/
  margin-top: 27px;
  margin-bottom: 30px;
  padding: 12px 20px;

  font-size: 17px;
  line-height: 21px;
}

/* page-footer */

.page-footer {
  border-top: 1px solid rgba(230, 230, 255, 0.4);
}

.copyright {
  float: right;
  width: 200px;
  padding: 20px 0;

  font-size: 12px;
  line-height: 18px;
}

.copyright__logo {
  color: #ffffff;
}

.copyright__logo img {
  width: 108px;
  height: 38px;
}

.copyright__text {
  margin: 0;
}

.copyright__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;

  color: #ffffff;
  border-bottom: 1px solid rgba(230, 230, 255, 0.4);
}

.copyright__link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.social {
  position: relative;

  float: left;
  width: 200px;
  padding-top: 35px;
  padding-bottom: 30px;

  font-size: 0;
}

.social__btn::before {
  content: "";
  position: absolute;

  background: transparent url("../img/sprite.png") no-repeat;
}

.social__btn--twitter::before {
  top: 35px;
  left: 0;

  width: 38px;
  height: 38px;

  background-position: -10px -844px;
}

.social__btn--insta::before {
  top: 35px;
  left: 48px;

  width: 38px;
  height: 38px;

  background-position: -10px -786px;
}

.social__btn--fb::before {
  top: 35px;
  left: 96px;

  width: 38px;
  height: 38px;

  background-position: -10px -728px;
}

.social__btn--vk::before {
  top: 35px;
  left: 144px;

  width: 38px;
  height: 38px;

  background-position: -10px -902px;
}

.info {
  padding: 30px 0;
}

.info__list {
  position: relative;

  max-width: 310px;
  margin: 0 auto;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.info__item {
  display: inline-block;
  min-width: 140px;
  margin: 0;
  padding: 0;
  padding-left: 2px;

  vertical-align: top;
}

.info__item::before {
  content: "";
  position: absolute;

  background: transparent url("../img/sprite.png") no-repeat;
}

.info__item--heart::before {
  top: 3px;
  left: -20px;

  width: 15px;
  height: 13px;

  background-position: -10px -406px;
}

.info__item:first-child .info__link {
  font-weight: 600;
}

.info__link {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-decoration: none;

  color: inherit;
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.info__link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

/* catalog */

/* breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;

  font-size: 0;
}

.breadcrumbs__item {
  position: relative;

  display: inline-block;
  margin-right: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  vertical-align: top;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "»";

  position: absolute;
  top: 0;
  right: -13px;

  display: block;
}

.breadcrumbs__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;

  color: #ffffff;
  border-bottom: 1px solid rgba(230, 230, 255, 0.4);
}

.breadcrumbs__link:hover {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.catalog__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
}

/* filter */

.filter {
  margin-bottom: 12px;

  font-size: 0;
}

.filter__item {
  display: inline-block;

  margin-right: 15px;
  margin-bottom: 15px;

  font-size: 0;

  vertical-align: top;
}

.filter__title {
  margin: 0;
  margin-bottom: 6px;
  padding-left: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.sorting,
.price,
.fat,
.fillers {
  position: relative;

  display: inline-block;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
}

.sorting {
  width: 195px;
  height: 36px;

  cursor: pointer;
  outline: none;
}

.price {
  padding: 16px 15px;
}

.fat,
.fillers {
  margin: 0;
  padding: 7px 15px;

  font-size: 0;
}

.fat {
  width: 385px;
}

.fillers {
  width: 670px;
}


.fat__item {
  display: inline-block;
  margin-right: 20px;

  font-size: 16px;
  line-height: 22px;

  vertical-align: top;
}

.fat__item:last-child {
  margin-right: 0;
}

.line {
  position: relative;

  width: 190px;
  height: 4px;

  background-color: #d1d9d2;
}

.line-price {
  position: absolute;
  top: 0;
  left: 19px;
  z-index: 1;

  width: 118px;
  height: 4px;

  background-color: #f8f7f4;
}

.line-price .min,
.line-price .max {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background-color: #f8f7f4;
  border-radius: 50%;

  cursor: pointer;
}

.line-price .min {
  left: 0;
}

.line-price .max {
  right: 0;
}

.fat-radio {
  position: relative;
  padding-left: 30px;

  cursor: pointer;
}

.fat__item input[type="radio"] {
  display: none;
}

.fat__item label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 1px;

  display: block;
  width: 20px;
  height: 20px;

  border: 1px solid #ffffff;
  border-radius: 50%;

  box-sizing: border-box;
}

input[type="radio"]:checked  + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 5px;

  display: block;
  width: 12px;
  height: 12px;

  background-color: #ffffff;
  border-radius: 50%;
}

.fat__item:hover label::before {
  border: 2px solid #ffffff;
}

input[type="radio"]:disabled:checked + label::after {

}

/* fillers filter */

.fillers__item {
  display: inline-block;
  margin-right: 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  vertical-align: top;
}

.fillers__item:last-child {
  margin-right: 5px;
}

.fillers-checkbox {
  position: relative;
  padding-left: 30px;

  cursor: pointer;
}

.fillers__item input[type="checkbox"] {
  display: none;
}

.fillers__item label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 1px;

  display: block;
  width: 20px;
  height: 20px;

  border: 1px solid #ffffff;
  border-radius: 3px;

  box-sizing: border-box;
}

.fillers__item:hover label::before {
  border: 2px solid #ffffff;
}

input[type="checkbox"]:checked  + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;

  display: block;
  width: 10px;
  height: 5px;

  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;

  transform: rotate(-45deg);
}

input[type="checkbox"]:disabled:checked + label::after {
  border-left: 2px solid #b2c1b7;
  border-bottom: 2px solid #b2c1b7;
}

/* apply button */

.btn__filter {
  width: 145px;
  margin-top: 23px;
  padding: 5px 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  border: 2px solid #ffffff;

  outline: none;
}

.btn__filter:hover {
  color: #353535;
  background-color: #ffffff;
}

.btn__filter:active {
  padding: 7px 32px;

  border: none;
  background-color: #eaeaea;

  box-shadow: 0 2px 3px 0 #686868 inset;
}

/* pagination */

.pagination {
  text-align: right;
  font-size: 0;
  margin-top: 65px;
  margin-bottom: 30px;
}

.pagination__list {
  margin: 0;

  padding: 0;

}

.pagination__item {
  position: relative;
  display: inline-block;

    width: 25px;
  height: 25px;
  margin-left: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;

  color: #ffffff;
  border-radius: 50%;
  background: #000000;
  vertical-align: top;


}


.pagination__item--active {
   background: #ffffff;

  text-align: center;
  color: #353535;
}

.pagination__link {
  text-decoration: none;
}

.pagination__link:hover {


  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);

}