html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;

  color: #fff;
}

h1 {
  font-size: 35px;
  line-height: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-wrapper {
  background: #849d8f;
}

.content-wrapper {
  min-width: 860px;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 2.155%;
}

.top-header {

}

.logo {
  float: left;
  width: 154px;
  margin-left: -5px;
  margin-right: 30px;
  padding-top: 10px;
}

.menu {
  float: left;
  width: 400px;
}

.menu__list {
  margin: 0;
  padding: 30px 0;
}

.menu__item {
  display: inline-block;
}

.dropdown-menu {
  display: none;
}

.right-header {
  float: right;
  padding: 30px 0;
}

.search {
  float: left;
  width: 50px;
  margin-right: 10px;
}

.search__btn--hidden {
  display: none;
}

.user-block {
  float: left;
  width: 230px;
}

.login {
  float: left;
  width: 100px;
  margin-right: 10px;
  text-align: center;
}

.login__btn--hidden {
  display: none;
}

.cart {
  float: right;
  width: 120px;
  text-align: center;
}

.cart__btn--hidden {
  display: none;
}

.header-contacts {
  text-align: right;
}

.header-contacts span {
  display: block;
}

.slider {
  text-align: center;
}

.toppings-add {
  margin-bottom: 40px;
}

.toppings {
  box-sizing: border-box;
}

.toppings--raspberry {
  float: left;
  width: 50%;
  padding-right: 1.155%;

}

.toppings--chocolate {
  float: right;
  width: 50%;
  padding-left: 1.155%;
}

.catalog {
  font-size: 0;
  margin: 0 -1.155% 40px -1.155%;
}

.catalog-item {
  display: inline-block;
  width: 25%;
  padding: 0 1.155%;
  font-size: 16px;
  vertical-align: top;
  box-sizing: border-box;
}

.catalog-item__image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.catalog-item__title {
  margin: 0;
  padding-top: 15px;
  text-align: center;
}

.catalog-item__btn--hover {
  display: none;
}

.features {
  margin-bottom: 40px;
  color: #000;
}

.features__list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.features__item {
  display: inline-block;
  width: 50%;
  margin-bottom: 30px;
  font-size: 16px;
  vertical-align: top;
}

.news {
  margin-bottom: 40px;
  color: #000;
}

.news-blog {
  float: left;
  width: 50%;
  padding-right: 1.155%;
  box-sizing: border-box;
}

.news-subscription {
  float: right;
  width: 50%;
  padding-left: 1.155%;
  box-sizing: border-box;
}

.contacts {
  position: relative;
}

.contacts__map {
  width: 100%;
  min-height: 430px;
  background-color: #000;
}

.contacts__info {
  position: absolute;
  top: 50%;
  right: 0;
  width: 300px;
  text-align: left;
  color: #000;
  background-color: #fff;
  transform: translate(0, -50%);
}

.page-footer {

}

.copyright {
  float: right;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

.info {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.info__list {
  display: inline-block;
  width: 400px;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.info__item {
  display: inline-block;
}

.social {
  float: left;
  width: 200px;
  padding-top: 35px;
  padding-bottom: 30px;
}

.copyright__title {
  margin: 0;
}

/* catalog */

.breadcrumbs {
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs__item {
  display: inline-block;
}

.catalog__filter {
  margin-bottom: 40px;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 35px;
}

.sorting__item {
  float: left;
  width: 195px;
  margin-right: 15px;
}

.price__item {
  float: left;
  width: 220px;
  margin-right: 15px;
}

.fat__item {
  float: left;
  width: 420px;
  margin-right: 15px;
}

.fillers__item {
  float: left;
  width: 700px;
  margin: 15px 15px 0 0;
}

.btn__item {
  float: left;
  width: 145px;
  margin-top: 37px;
  margin-right: 0;
}

.catalog-item {
  margin-bottom: 40px;
}

.pagination {
  text-align: right;
}

.pagination__list {
  margin-top: 65px;
  margin-bottom: 30px;
}

.pagination__item {
  display: inline-block;
}
